* {
  box-sizing: border-box;
}
body {
  background-color: #f9f7f3;
}
#gameBoard {
  width: 380px;
  height: 388px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0fa3b1;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  position: relative;
}
.winner-row-1::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: 65px;
  height: 6px;
  background-color: #f7a072;
}
.winner-row-2::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: 191px;
  height: 6px;
  background-color: #f7a072;
}
.winner-row-3::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 65px;
  height: 6px;
  background-color: #f7a072;
}
.winner-col-1::before {
  content: "";
  position: absolute;
  left: 65px;
  top: 10px;
  bottom: 10px;
  width: 6px;
  background-color: #f7a072;
}
.winner-col-2::before {
  content: "";
  position: absolute;
  left: 185px;
  top: 10px;
  bottom: 10px;
  width: 6px;
  background-color: #f7a072;
}
.winner-col-3::before {
  content: "";
  position: absolute;
  right: 65px;
  top: 10px;
  bottom: 10px;
  width: 6px;
  background-color: #f7a072;
}
/* .winner-diag-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to top right,
    transparent calc(50% - 6px),
    black,
    transparent calc(50% + 6px)
  );
} */

.row {
  display: flex;
}
.row:first-child,
.row:nth-child(2) {
  border-bottom: 4px solid black;
}

.cell {
  width: 120px;
  height: 120px;
  padding: 20px;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2) {
  border-right: 4px solid black;
}
.cell img {
  width: 100%;
  height: 100%;
}
.lock {
  pointer-events: none;
}
.game-over {
  opacity: 0.8;
}
.winning-cell {
  background-color: #f7a072;
}
