* {
  box-sizing: border-box;
}
body {
  background-color: #f9f7f3;
  font-family: "Poppins", sans-serif;
}
#gameBoard {
  width: 380px;
  height: 388px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0fa3b1;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  box-shadow: 8px 8px 24px 0px rgba(218, 218, 218, 1);
  position: relative;
  margin: 70px auto;
}
.row {
  display: flex;
}
.row:first-child,
.row:nth-child(2) {
  border-bottom: 4px solid black;
}

.cell {
  width: 120px;
  height: 120px;
  padding: 20px;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2) {
  border-right: 4px solid black;
}
.cell img {
  width: 100%;
  height: 100%;
}
.lock {
  pointer-events: none;
}
.game-over {
  opacity: 0.8;
}
.winning-cell {
  background-color: #f7a072;
}
.container {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.game-info {
  justify-content: space-between;
}
